<?xml version="1.0" encoding="utf-8"?>
<robot name="test">
    <link name="base_link"/>
    <link name="link1"/>
    <link name="link2"/>
    <link name="link3"/>

    <joint name="joint1" type="revolute">
        <parent link="base_link"/>
        <child link="link1"/>
        <limit effort="10" velocity="10" lower="-1e10" upper="1e10"/>
        <origin xyz="0 0 0" rpy="0 0 0"/>
    </joint>
    <joint name="joint2" type="revolute">
        <parent link="link1"/>
        <child link="link2"/>
        <limit effort="10" velocity="10" lower="-1e10" upper="1e10"/>
        <origin xyz="0 0 0" rpy="0 0 0"/>
    </joint>
    <joint name="joint3" type="revolute">
        <parent link="link2"/>
        <child link="link3"/>
        <limit effort="10" velocity="10" lower="-1e10" upper="1e10"/>
        <origin xyz="0 0 0" rpy="0 0 0"/>
    </joint>

    <transmission name="joint1_trans">
        <type>transmission_interface/SimpleTransmission</type>
        <actuator name="joint1_motor">
            <mechanicalReduction>1.0</mechanicalReduction>
        </actuator>
        <joint name="joint1">
            <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
        </joint>
    </transmission>
    <transmission name="joint2_trans">
        <type>transmission_interface/SimpleTransmission</type>
        <actuator name="joint2_motor">
            <mechanicalReduction>1.0</mechanicalReduction>
        </actuator>
        <joint name="joint2">
            <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
        </joint>
    </transmission>
    <transmission name="joint3_trans">
        <type>transmission_interface/SimpleTransmission</type>
        <actuator name="joint3_motor">
            <mechanicalReduction>1.0</mechanicalReduction>
        </actuator>
        <joint name="joint3">
            <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
        </joint>
    </transmission>
</robot>
