<launch>
    <arg name="arm_type" default="cobot_test" doc="Robot type [cobot_test,cobot, delta]"/>

<!--    <param name="robot_description" command="$(find xacro)/xacro $(find rm_description)/urdf/$(arg robot_type)/$(arg robot_type).urdf.xacro-->
<!--         load_chassis:=$(arg load_chassis) load_gimbal:=$(arg load_gimbal) load_shooter:=$(arg load_shooter)-->
<!--         load_arm:=$(arg load_arm)-->
<!--         use_simulation:=false roller_type:=none-->
<!--"/>-->

    <rosparam file="$(find arm_hw)/config/actuator_coefficient.yaml" command="load" ns = "arm_hw"/>
    <rosparam file="$(find arm_hw)/config/$(arg arm_type).yaml" command="load" />

    <node name="arm_hw" pkg="arm_hw" type="arm_hw" respawn="false"
          clear_params="true" />
</launch>
